/* Barra de navegación */
.navbar {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    background-color: #222831;
    height: 81px;
}

.text-white {
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.navbar-collapse {
    justify-content: space-between;
}

/* Seccion hero */
.hero {
    height: 783px;
    background-color: #222831;
    color: #F1F5F9;
    display: flex;
    flex-direction: row;
}
.hero-img {
    padding: 10px 0px 48px 48px;

}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

}

.hero-content {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.hero-content h2 {
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 67px;
}
.hero-content p {
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-style: normal;
    
    font-size: 22px;
}
.hero-custom-button {
    background-color: #00ADB5;
    width: 360px;
    height: 57px;
    color: #F1F5F9;
    border-radius: 8px;
    padding: 12px 8px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 25px;
}
.hero-s {
    height: 704px;
    display: flex;

}


/* Seccion sobre nosotros */
.sobre-nosotros {
    height: 864px;
    background-color: #d6dde7;
}


/* Seccion proyectos */
.proyectos {
    height: 864px;
    background-color: #222831;

}


/* Modal contacto */
.custom-modal {
    background-color: #393E46;
    width: 400px;
    color: #F1F5F9;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    max-width: 100%;
    width: 400px;
    margin: 1rem auto;
}

.custom-modal .modal-footer,
.custom-modal .modal-header {
    border-color: #393E46;
}

.custom-modal h2 {
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-right: 15px;
}

.modal-content {
    background-color: #393E46;
    color: #F1F5F9;
    justify-content: center;
    align-items: center;
}

.custom-modal p {
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.custom-button-close {
    background-color: #F1F5F9;
}

.modal-header {
    justify-content: center;
    align-items: center;
}

.custom-modal label {
    padding-top: 16px;
    color: #F1F5F9;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.form-control {
    color: #F1F5F9;
    background-color: #393E46;
    width: 100%; 
    max-width: 300px; 
}

.custom-modal textarea {
    width: 100%;
    max-width: 300px; 
    height: 170px;
    resize: none;
}

.form-control:focus {
    color: #F1F5F9;
    background-color: #393E46;
    box-shadow: 0 0 5px #00ADB5;
}

.form-control::placeholder {
    color: #acacac;
    opacity: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #393E46 inset !important;
    -webkit-text-fill-color: #F1F5F9 !important;
}

.custom-button {
    background-color: #00ADB5;
    color: white;
    border-radius: 8px;
    padding: 12px 8px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 25px;
}

.custom-button:hover,
.custom-button:focus,
.custom-button:active {
    background-color: #00ADB5;
    color: #F1F5F9;
}



/* Footer */
.footer {
    background-color:#222831;

}

.custom-icon {
    font-size: 20px;
    color: white;
    margin: 13px;
}

/* cuando el dispositivo tenga ese tamaño escondemos ese ic*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    
}