
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100vw;
    background-color: rgb(20, 20, 20)!important;
    font-family: sans-serif;
    color: white!important;
}
section{
    margin: 100px 0;
    position: relative;
    padding: 20px;
}
h1{
    margin: 30px;
}
h1,p,h2{
    text-align: center;
}

/* nav */
nav{
    width: 100vw;
    background-color: #181717!important;
}
nav a{
    color: rgb(243, 243, 243)!important;
}
nav a:hover{
    transform: scale(1.2);
}
nav i{
    margin-right: 10px;
}
#addUser{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

@media  screen and (min-width:576px) {
    .nav-item i{
        display: none;
    }
}



/* header */
header{ 
    width: 100vw;
    height: 110vh;
    background: url(/images/background.jpg),rgb(36, 36, 36);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}
header h1{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:clamp(4em,10vw,7em);
}
header h2{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: clamp(2em,5vw,4em);
    color: gray;
    text-align: center;
}
header .banner{
    width: 100vw;
    height: 130px;
    position: absolute;
    bottom: -50px;
    left: 0;
}

/* areas */
.area-img img{
    height: 40px;
    filter: brightness(70%);
}
#areas p{
    margin-top:  50px ;
}

/* Sobre el club */

#aboutUs div{
    margin: 50px 0;
}
#aboutUs img{
    height: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 40px 0;
}

#areas h2 span{
    color: rgb(168, 228, 255)!important;
  

}

/* testimonios */
.img-area{
    width: 100px;
    height: 100px;
}
.img-area img{
    object-fit: cover;
    object-position: center;
}

/* footer */
footer{
    height: 500px;
}
footer img{
    height: 100px;
    margin: 50px 0;
}
footer a{
    width: 50px;
    height: 50px;
    transition: all 0.2s ease;
    display: flex;
    padding: 2px;
    margin: 10px;
    border: solid 2px rgb(185, 185, 185);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}
footer i{
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
footer a:hover{
    background-color: white;
    border: blue;
}
footer i:hover{
    color: #181717;
}
#cpyR{
    font-size: 15px;
    color: lightblue;
    padding: 20px;
}